Create Database [ATM_Finger]

USE [ATM_Finger]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 04/25/2016 18:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transaction](
	[Name] [varchar](50) NULL,
	[BankAC] [varchar](50) NULL,
	[BankName] [varchar](50) NULL,
	[Debit] [varchar](50) NULL,
	[Credit] [varchar](50) NULL,
	[Bal] [varchar](50) NULL,
	[Date] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Transaction] ([Name], [BankAC], [BankName], [Debit], [Credit], [Bal], [Date]) VALUES (N'ABC', N'987456321123647', N'Bank of India', N'0', N'1000', N'11000', N'2016/01/27 15:27')
INSERT [dbo].[Transaction] ([Name], [BankAC], [BankName], [Debit], [Credit], [Bal], [Date]) VALUES (N'ABC', N'987456321123647', N'Bank of India', N'1000', N'0', N'10000', N'2016/01/27 15:28')
INSERT [dbo].[Transaction] ([Name], [BankAC], [BankName], [Debit], [Credit], [Bal], [Date]) VALUES (N'Mary', N'9874563210123654789', N'ICICI Bank', N'0', N'1000', N'1000', N'2016/01/27 15:56')
/****** Object:  Table [dbo].[Reg]    Script Date: 04/25/2016 18:08:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reg](
	[Name] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[EmailID] [varchar](50) NULL,
	[BankAC] [varchar](50) NULL,
	[BankName] [varchar](50) NULL,
	[Temp] [varbinary](max) NULL,
	[Pin] [varchar](50) NULL,
	[Bal] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
